<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/public}">
<head>
    <title>Minh</title>
</head>
<body>
<section layout:fragment="main">
    <div class="container home">

        <div class="column is-12 has-text-centered overview">
            <p th:text="${message}"></p>
        </div>

    </div>
</section>
<script layout:fragment="script">
    console.log('script execute here !!!');
</script>
</body>
</html>